<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Scape Host</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>ScapeHost</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_scape._tcp</string>
		<string>_mirage._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Scape Host needs local network access to stream to clients.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Scape Host needs access to capture your screen to stream it to your Vision Pro.</string>
</dict>
</plist>
